<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="fragment" content="#!" />
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="/Content/angular-material.min.css">
    <link rel="stylesheet" href="/Content/Site.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
</head>
<body ng-app="Search4Self" ng-cloak layout="column">

    <md-toolbar class="md-hue-2" style="height:50px">
        <div class="md-toolbar-tools">
            <!--<md-button md-no-ink aria-label="Settings" ng-disabled="false">
                Settings
            </md-button>-->
            <h2>
                <span>Search4Self</span>
            </h2>
            <md-button ng-href="/" ng-disabled="false">
                Home
            </md-button>
            <md-button ng-href="/youtube" ng-disabled="false">
                Youtube
            </md-button>
            <md-button ng-href="/google" ng-disabled="false">
                Google Search
            </md-button>

            <span flex></span>
            <!--<md-button md-no-ink aria-label="Logout" ng-disabled="false">
                Logout
            </md-button>-->
        </div>
    </md-toolbar>


    <section layout="row" flex>
        <!--$mdMedia('gt-md')-->
        <!--<md-sidenav class="md-sidenav-left"
                    md-component-id="left"
                    md-is-locked-open="true"
                    md-whiteframe="4">

            <md-list flex>
                <a href="/">
                    <md-list-item ng-click="null">
                        Home
                    </md-list-item>
                </a>
                <a href="/music">
                    <md-list-item ng-click="null">
                        Music
                    </md-list-item>
                </a>
            </md-list>

        </md-sidenav>-->



        <md-content flex layout="row" class="with-background">

            <!--<div layout="row" flex layout-align="top center">




            </div>-->
            <ng-view flex></ng-view>


            <!--<div flex></div>-->

        </md-content>

        <!--<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Sidenav Right</h1>
            </md-toolbar>
            <md-content ng-controller="RightCtrl" layout-padding>
                <form>
                    <md-input-container>
                        <label for="testInput">Test input</label>
                        <input type="text" id="testInput"
                               ng-model="data" md-autofocus>
                    </md-input-container>
                </form>
                <md-button ng-click="close()" class="md-primary">
                    Close Sidenav Right
                </md-button>
            </md-content>

        </md-sidenav>-->

    </section>

    <!--General-->
    <div id="loading" class="loading"></div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-route.min.js"></script>
    <script src="/Scripts/angular-animate.min.js"></script>
    <script src="/Scripts/angular-aria/angular-aria.min.js"></script>
    <script src="/Scripts/angular-messages.min.js"></script>
    <script src="/Scripts/angular-resource.min.js"></script>

    <script src="/Scripts/jquery-3.1.1.min.js"></script>
    <script src="/Scripts/ng-file-upload-shim.min.js"></script>
    <script src="/Scripts/ng-file-upload.min.js"></script>


    <!--Amcharts-->
    <script src="/amcharts/amcharts.js"></script>
    <script src="/amcharts/serial.js"></script>
    <script src="/amcharts/themes/light.js"></script>

    <!-- Angular Material Library -->
    <script src="/Scripts/angular-material/angular-material.min.js"></script>

    <!-- Your application bootstrap  -->
    <script type="text/javascript" src="/App/app.js"></script>
    <script type="text/javascript" src="/App/API.js"></script>

    <!--Services-->
    <script src="/App/Services/HelperService.js"></script>

    <!--Controllers-->
    <script src="/App/Controllers/IndexController.js"></script>
    <script src="/App/Controllers/MusicController.js"></script>
    <script src="/App/Controllers/GoogleController.js"></script>

    <!--Directives-->
    <script src="/App/Directives/GenreChart.js"></script>
    <script src="/App/Directives/BarChart.js"></script>

</body>
</html>
